# Prerequisites
*.d
*.mat

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

# Object files don't need to be stored anymore..
# *.obj
*.mtl

# Settings files
*.ini

# Trained model files
# *.pt
# *.t7

# Folders
.vs/
# x64/
# TestData/
# DataSet/
# DataGen/
# Results/
runs/
.vscode/
__pycache__
# validationRes/
# Results/
# src/

# Configure files
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Tensorboard log files
*.Ruben
*events.out*
*hparams.yaml
*.ckpt
*.trace.json

# Split and dataset saves
*.npy
*.h5
*.split